{% extends "base/base.html" %}
{% load static %}


{% block content %}
<!--utc_doc_review-->
    {#debug: {{data}}#}
    {#doc: {{data}}#}

    <h1 id="h1x">Review View</h1>
    <div>Slug: <span class="slug-preview">{{data.slug}}</span></div>

    <div>Review URL: <a href="{% url 'reviewpage' data.doc.slug data.doc.doc_key %}">{% url 'reviewpage' data.doc.slug data.doc.doc_key %}</a></div>

    <hr>
    <div>{{data.doc.content}}</div>
    <hr style="margin-bottom: 3em;">

{% endblock %}


{% block main_script %}
<script type="text/javascript" src="{% static 'recogito/recogito.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="{% static 'simplefeedback.js' %}"></script>
{% endblock %}
