{% extends "base/base.html" %}


{% block content %}
<!--utc_doc_owner-->
    {#debug: {{data}}#}
    {#doc: {{data}}#}

{% if data.doc.owner_mode %}

    <h1 id="h1x">Owner View</h1>
    <div>Slug: <span class="slug-preview">{{data.slug}}</span></div>

    <div>Review URL: <a href="{% url 'reviewpage' data.doc.slug data.doc.doc_key %}">{% url 'reviewpage' data.doc.slug data.doc.doc_key %}</a></div>
    <div>Owner URL: <a href="{% url 'documentpage' data.doc.slug data.doc.doc_key data.doc.owner_key %}">{% url 'documentpage' data.doc.slug data.doc.doc_key data.doc.owner_key %}</a></div>

    <div>Submitted Reviews: {{data.doc.review_nbr}}</div>

    {{ data.doc.review_nbr|json_script:"review_nbr" }}


    {% include "base/partial/comment_for_reviewers.html" with data=data only %}
    <hr style="margin: 3em 0 3em 0;">

    {% include "base/partial/doc_content.html" with data=data only %}
    <hr style="margin-bottom: 3em;">

{% else %}
    {# This normally should never be displayed and is a second layer of security #}
    Wrong owner key
{% endif %} {#end of if data.doc.owner_mode#}
{% endblock %}
