{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <link href="{% static 'recogito/recogito.min.css' %}" rel="stylesheet">
  <script type="text/javascript" src="{% static 'recogito/recogito.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

</head>
<body>

<div class="jumbotron text-center">
  <h1>Example Review</h1>
</div>

<div>
  debug: {{data}}
</div>

<div class="container">
    <form id="reviewForm">
            <div class="form-group row" style="margin-bottom: 2em;">
                <!-- <label for="reviewerName" class="col-sm-2 col-form-label">Name</label> -->
                <div class="col-sm-8 offset-sm-2">
                    <input type="text" class="form-control" id="reviewerName" placeholder="Reviewer name">
                </div>

                <div class="col-sm-2">
                    <button id="mainSubmit" type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>

    </form>

    <div id="annotationcontent">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>

</div>

<script type="text/javascript">
  // An example annotation we'll add/remove via JavaScript
  const csrftoken = Cookies.get('csrftoken');
  const target = {
    re_app: 'example',
    re_model: 'mytext',
    re_field_name: 'text',
    re_object_id: '{{ object.id }}',
  };


  const fetch_params = {...target, ...{_format: 'recogito'}};
  const baseUrl = window.location.origin;
  const url = new URL("/api/get/", baseUrl)
  url.search = new URLSearchParams(fetch_params)
  fetchUrl = url.toString()
  console.log(url.toString());

  var rc = [];

  var r = Recogito.init({
    content: 'annotationcontent', // Element id or DOM node to attach to
    locale: 'de',
    mode: 'pre',
    widgets: [
      'COMMENT',
      { widget: 'TAG', vocabulary: [ 'Place', 'Person', 'Event', 'Organization', 'Animal' ] }
    ],
    relationVocabulary: [ 'isRelated', 'isPartOf', 'isSameAs ']
  });

  loadAnnotations = (url) => fetch(url)
    .then(response => response.json()).then(annotations => {
      //r.setAnnotations(annotations);
      console.log(annotations);
      const clones = annotations.map(a => a.clone());


      return "OK";
      // return this.highlighter.init(clones).then(() =>
      // this.relationsLayer.init(clones));

    });


  //r.loadAnnotations(fetchUrl);


  var ann = {"@context":"http://www.w3.org/ns/anno.jsonld","type":"Annotation","body":[{"type":"TextualBody","value":"foo","purpose":"commenting"}],"target":{"selector":[{"type":"TextQuoteSelector","exact":"commodo"},{"type":"TextPositionSelector","start":230,"end":237}]},"id":"#888ddfb9-a391-42c6-8dc1-9f569c4526dc"};


  r.setAnnotations([

  ]);


  // r.on('selectAnnotation', function(a) {
  //   console.log('selected', a);
  // });

  r.on('createAnnotation', function(a) {
    console.log('created', a);
    var re_id = a['id'].slice(1);
    var new_annotation = {
      re_id: re_id,
    }
    var merged = {
      ...target,
      ...new_annotation,
      re_payload: a
    }

    rc.push(merged);

    const merged_json = JSON.stringify(merged);
    console.log(merged_json);

    // note: fetch returns a promise.

    /*
    # currently we do not want to send every comment
    var res = fetch('/api/add/', {
      method: 'POST', // or 'PUT'
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken
      },
      body: merged_json,
    });

    rc.push(res);
    */
    //console.log(res);


    // .then(response => response.json())
    // .then(merged => {
    //   console.log('Success:', merged);
    // })
    // .catch((error) => {
    //   console.error('Error:', error);
    // });

  });

  r.on('updateAnnotation', function(annotation, previous) {
    console.log('updated', previous, 'with', annotation);
  });


  document.getElementById('mainSubmit').addEventListener('click', function() {
    console.log("pressed submit");

    var annotationList = r.getAnnotations();
    var reviewerName = document.getElementById("reviewerName").value;

    // TODO: submit button should only be enabled if name is valid and annotation list is non-empty
    if (annotationList.length == 0) {
      alert("No annotations to submit");
      return
    }
    if (reviewerName.trim() == "") {
      alert("Invalid revier name");
      return
    }

    var merged = {
      ...target,
      re_id: 0,
      reviewer_name: reviewerName,
      re_annotation_list: annotationList
    }

    const merged_json = JSON.stringify(merged);
    console.log(merged_json);

    // send all annotations at once
    var res = fetch('/api/add/', {
      method: 'POST', // or 'PUT'
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken
      },
      body: merged_json,
    });


  });


</script>

</body>
</html>
