{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <link href="{% static 'recogito/recogito.min.css' %}" rel="stylesheet">


</head>
<body>

<div class="jumbotron text-center">
  <h1>Example Review</h1>
</div>

<div>
  debug: {{data}}
</div>

<div class="container">

{% if data.formset %}
  <form method="post" action="">
    {% csrf_token %}
    {{data.formset.as_div}}
    <input type="submit" value="Submit Form"/>
  </form>
{% endif %}

    <form id="reviewForm">
            <div class="form-group row" style="margin-bottom: 2em;">
                <!-- <label for="reviewerName" class="col-sm-2 col-form-label">Name</label> -->
                <div class="col-sm-8 offset-sm-2">
                    <input type="text" class="form-control" id="reviewerName" placeholder="Reviewer name">
                </div>

                <div class="col-sm-2">
                    <button id="mainSubmit" type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>

    </form>

    <div id="annotation_content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>

</div>

<script type="text/javascript" src="{% static 'recogito/recogito.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="{% static 'simplefeedback.js' %}"></script>

</body>
</html>
