{% extends "base/base.html" %}


<div id="id_main" class="main">
    {% block content %}
    <h1 id="h1x">... gather comments for your text</h1>
        {% if data.formset %}
    <form method="post" action="">
        {% csrf_token %}

        <div>
            <input class="form_input_fw" type="text" name="slug" maxlength="500" required id="id_slug", placeholder="document slug">
        </div>

        <div>
            <textarea class="form_input_fw" name="content" rows="10" required id="id_content" placeholder="Enter your (markdown) text here"></textarea>
        </div>


        <button style="float: right;" class="btn btn-primary" type="submit">preview</button>
    </form>
{% endif %}

    {% endblock %}
</div>
